/* Trying to make the screen responsive */

html, body {
    overflow-x: hidden;
    width: 100%;
    background-color: #000;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* HERO SECTION */

.hero-section{
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
                url("../Assets/backgroundimage.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    /* color: white; */
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
}

.netflix{
    color: #d51c1c;
    font-size: 40px;
}

.netflix-divider {
    /* .netflix-divider { */
    display: block;
    width: 100%;
    height: 10px;
    
}

.hero-content{
    flex: 1;
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    gap: 20px;
}

#one{
    font-size: 45px;
    font-weight: 900;
}


#two {
    font-size: 40px;
    font-weight: 500;
}


#price {
    font-size: medium;
    margin-top: 20px;
}


#three{
    font-size: 20px;
    margin-top: 2vh;
}


#background{
    filter: brightness(0.5);
    height: 100vh;
    width: 100vw;
    filter:blur(5px);
    position: relative;
    top: 0px;
    left: 0px;

}

.email-box{
    display:flex;
    gap:10px;
    flex-wrap:wrap;
    justify-content:center;
}


.email-box button{
    padding:14px 25px;
    background:#e50914;
    border:none;
    border-radius:5px;
    color:white;
    font-weight:600;
}

.email{
    height: 55px;
    width: 29vw;
    border: 2px solid black;
    color: white;
    border-radius: 5px;
    border-style: groove;
    font-size: 20px;
    font-weight: 400;
    padding-left: 10px;
    background: transparent;
    transition-property: all;
    transition-duration: 0.2s;
    transition-delay: 0.01s;
}


.email:hover{
    background: transparent;
}

.getstarted{
    font-size: 20px;
    font-weight: 200;
    height: 55px;
    width: 11vw;
    border: 2px solid black;
    border-radius: 8px;
    border-style: none;
    color: white;
    background-color: red;
}

.getstarted i{
   
}


.getstarted:hover{
    font-weight: 700;
    background: #af0c0c;
    cursor: pointer;
    transition: 0.5s;
    
}

#signin{
    /* top: 12vh;
    left: 90vw; */
    height: 45px;
    width: 50px;
    color: white;
    background-color: red;
    font-size: 10px;
    text-align: center;
    /* font-weight: 200; */
    border: 5px solid red;
    border-radius: 10px;
    border-style: none;
    transition-property: all;
    transition-duration: 0.1s;
    transition-delay: 0.01s;
}


#signin:hover{
    font-weight: 400;
    background-color: #bd0909;
}


/* NETFLIX PAGES SECTION */


/* NETFLIX INFO SECTION */
.netflix-info {
    display: flex;
    color: white;
    justify-content: space-evenly;
    align-items:center;
    background-color: black;
    height: 70vh;
    width: 100vw;
}

.reasons-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    

}

.card-1 {
    width: 300px;
    height: 300px;
    padding: 10px;
    border-radius: 30px;
    background: linear-gradient(rgba(4, 50, 99, 0.4), rgba(148, 30, 30, 0.4));
    

}

.heading-1{
    /* text-align: center; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
    color: #faf5f5;
    padding-bottom: 17px;
    padding-left: 15px;

}

.text-1 {
    color: #545353;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    

}

.card-2 {
    width: 300px;
    height: 300px;
    padding: 10px;
    border-radius: 30px;
    background: linear-gradient(rgba(4, 50, 99, 0.4), rgba(148, 30, 30, 0.4));
}

.heading-2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
    color: #faf5f5;
    padding-bottom: 17px;
    padding-left: 15px;
}

.text-2 {
    color: #545353;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.card-3 {
    width: 300px;
    height: 300px;
    padding: 10px;
    border-radius: 30px;
    background: linear-gradient(rgba(4, 50, 99, 0.4), rgba(148, 30, 30, 0.4));

}

.heading-3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
    color: #faf5f5;
    padding-bottom: 17px;
    padding-left: 15px;
}

.text-3 {
    color: #545353;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.card-4 {
    width: 300px;
    height: 300px;
    padding: 10px;
    border-radius: 30px;
    background: linear-gradient(rgba(4, 50, 99, 0.4), rgba(148, 30, 30, 0.4));

}

.heading-4{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
    color: #faf5f5;
    padding-bottom: 17px;
    padding-left: 15px;
}

.text-4 {
    color: #545353;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/* FAQ SECTION */

.faq-wrapper {
    max-width: 75%;
    margin: auto;
}

.faq-wrapper p, h1{
    margin: 1.5rem 0;

}

.faq-wrapper h1{
    color: white;

}

.accordion{
    background-color: #373737;
    color: #ffffff;
    cursor: pointer;
    font-size: 1.2rem;
    width: 100%;
    padding: 2rem 2.5rem;
    border: none;
    outline: none;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.accordion i{
    font-size: 1.6rem;

}
/* 
.active, .accordion{
    transition: smooth 0.5s;
} */

.active, .accordion:hover{
    background-color: rgb(70, 69, 69);
    /* transition-duration: 0.5s; */
}

.panel{
    padding: 0 2rem 2.5rem 2rem;
    background-color: rgb(69, 67, 67);
    overflow: hidden;
    background-color: #373737;
    display: none;
}

.panel p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
    font-size: 1.2rem;
    line-height: 1.4;
}


.faq {
    border: 1px solid rgba(0,0,0,0.2);
    margin: 10px 0;
}

.faq.active{

}


/*  */
.downloadimg{
    height: 45vh;
    width: 35vw;
}


.download{
    font-size: 30px;
    height: 20vh;
    width: 50vw;
    color: white;
}


#add3{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    background-color: black;
    height: 70vh;
    width: 100vw;
}


.everywhere{
    font-size: 30px;
    height: 20vh;
    width: 40vw;
    color: white;
}


.everywhereimg{
    height: 35vh;
    width: 25vw;
}


#add4{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    height: 70vh;
    width: 100vw;
}


.profileimg{
    height: 40vh;
    width: 30vw;
}


.profile{
    font-size: 30px;
    height: 20vh;
    width: 50vw;
    color: white;
}


#add5 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #0000;
    height: 70vh;
    width: 100vw;
}

.end-text{
    color: #ffffff;
}



/* FOOTER SECTION */
.footer {
    font-family: 'Times New Roman', Times, serif;
    color: #ee0505;
    text-align: center;
    padding-bottom: 15px;
}













